 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;


 }


 body {
    font-family: kanit;
    background-image:url(../img/FONDO4.jpg);
 
    background-position: center;
 background-size:cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
height: 100%;
width: 100%;
color: white;


    }


   /* INICIO DE HEADER*/
    
#Header{
width: 100%;
height:80px;
padding: 10px;
position:fixed;
display: flex;

}


Nav{

    position:absolute;
left: 700px;
bottom: 35px;

}
 .Nav ul{ 

    list-style: none;
    display:flex;
padding-top: 15px;

 }


 .Nav ul li a{
    color: white;
    text-decoration: none;
   
   
 }
 .Nav ul li {

    text-transform: uppercase;
margin: 1px;
    border: 1px solid ;
    font-size: 20px;
    border-radius: 5px;
    transition: 4s;

 }



.Nav li a:hover{
    background-color: white;
    color:black;
 

}


.Nombre {
    position: relative;
    font-size: 40px;
 transition: 4s;
bottom: 15px;
margin: 0;


}


.Nombre:hover{

    text-decoration: underline;
    -webkit-text-fill-color:black;

}


/* INICIO DE SECCION */

.Contenedor{ 

display: grid;

width: 100%;

} 

/* SECCION 1 */

#Seccion1{

    display: flex;
    justify-content:space-evenly;
    width: 100%;
    height: 450px;
margin-top: 15%;
padding: 30px;

}

.caja1  {
 display: flex;
width: 400px;
    height: 400px;
    margin: 20px;
font-size: 20px;
border: solid 1px;
border-radius: 20px;
align-items: center;
text-align: center;
margin-top: 8%;position: relative;
left:50px ;

}


#Seccion1 .caja1 {

    width: 400px;
    height: 350px;

position:relative;
left:70px;

}


.caja1:hover {

    color: black;
    background-color: white;
    



}

.imagen-perfil{


    width: 350px;
    height: 350px;
    border-radius: 50%;

margin-top:33%;


}

.flip-card-inner{

    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform:rotateX(180deg);
    transform: rotateY(180deg);
    


}


.flip.card.front,.flip-card-back{

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.flip-card-back{

position: absolute;
top: 0;

background-color:white;
transform: rotateY(180deg);
border-radius: 50%;
font-size: 15px;
display: flex;
flex-direction: column;
justify-content: center;
color:black;

width: 350px;
height: 350px;
margin-top: 33%;


}

/* SECCION 2 */
    
#Seccion2{


display: flex;
justify-content: space-around;
height: 550px;
width: 100%;
padding: 30px;


}





/*  SECCION 3 */

#Seccion3{

    display: flex;
    justify-content: space-around;
    height: 550px;
    width: 100%;
    padding: 30px;
  
 

}

/*  SECCION  4 */

#Seccion4{

display: flex;
justify-content:space-around;
height: 550px;
width: 100%;
padding: 30px;


}
  

/*  SECCION  5 */



#Seccion5{

    display: flex;
     justify-content:space-around;
    height: 550px;
    padding: 30px;
    width: 100%;
}


/*  SECCION 6 */

#Seccion6{


display:inline-block;
margin: 10%;
justify-content: center;
align-content: center;
align-items: center;

height: 300px;



}

#Seccion6 .Informacion{


margin-top: 10%;
width: 200px;
height: 200px;
position: relative;
left: 42%;

}

#Seccion6 .Informacion:hover{


-webkit-text-fill-color: black;



}

/* TITULO PRINCIPAL*/


.TituloPrimario {

    font-size: 25px;

left: 46.5%;

border-radius: 25px;
width: 180px;



}

.SobreMi .TituloPrimario{

 
  position: relative;
  top: 755%;   
   font-size: 25px;



   

}

.Experiencia .TituloPrimario{

    font-size: 25px;

    position: relative;
    top: 225%;

}

.Habilidades .TituloPrimario{


    position: relative;
top:227% ;

}

.Educacion .TituloPrimario{



    position: relative;
    top: 225%;
    left: 47%;
}

.Cursos .TituloPrimario{

    position: relative;
    top: 225%;
left: 48.5%;
}

.Contacto {

position: relative;
left: 46%;
bottom: 1%;
}
.Contacto:hover{

    
    -webkit-text-fill-color: black;
    text-decoration:underline ;

}

.TituloPrimario:hover {

    -webkit-text-fill-color: black;
    text-decoration:underline ;


}





/* IMAGENES */


.Imagen{
width: 400px;
height: 400px;
overflow: hidden;
transition:o.5s;
object-fit: cover;
border-radius: 10px;
margin: 20px;
margin-top: 25%;


}

 .Imagen:hover{
transform:scale(1.1) ;

 }


/* BOTON DE DESCARGA*/


.BotonDescargar{

    position: relative;
    left: 39%;
    margin: 4%;
bottom: 20px;

width: 200px;



}
 .Curriculum {
font-size:25px;

margin: 50px 0 50px 0px;
border: 2px solid;
border-radius: 10px;
box-shadow:inset 8px 8px 10px 1px rgba(0,0,0,0.5);


 }


 .Curriculum:hover{
background-color: red;
 }



ul li {

list-style: none;
text-align: center;




}

 
/* INICIO DE FOOTER */

 #Footer{
   display: flex;
justify-content: space-between;
    height: 50px;
    font-size: 20px;
    padding: 5px;
display: flex;
margin: 0 0 50px 0;
padding: 30px;
width: 100%;
}


.ComentarioFinal{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;

}


    .ImgFooter{
        
        width: 50px;;
        height:50px;

}


@media screen and (max-widht:800px){
    body{
        background-color: black;
    }
}