.MenuPrincipal {
list-style-type: none;


}
.MenuPrincipal li{
float: left;
}
.MenuPrincipal li a {
    
    display:inline-block;
    font-style: normal;
    font-size:20px;
    padding: 10px; ;
background-color:gray;
    color: black;
    border-right: solid 1px;
text-transform:uppercase ;



}


.MenuPrincipal li a:hover{
     background-color:white;
     

}

.Nombre {
    
    font-size: 40px;
    text-align: center;
   
    padding: 10px;
    box-sizing:border-box;

    
}
.Nombre:hover{
    text-decoration: underline;

    background-color: white;

}


.FotoPerfil{
    width: 25%;height: 25%;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
    

}
body{
font-family: kanit;
line-height: 15px;
font-size: 15px;
background-color: gray;
}
.TituloPrimario {
    text-align:center;
    font-size: 25px;
    
}
.TtituloPrimario:hover{
    text-decoration:underline ;
    box-sizing:border-box;
}


.TituloSecundario{
    text-align: center;
}
p{
    text-align: center;
}


